@inherits LayoutComponentBase

<div>
    <main role="main">
        <NavMenu />
        <Alert Fade="true" />
        <div style="flex-direction: column">
            @Body
        </div>
    </main>
</div>

<LocationSpecifics />