<div class="footer">
    <div class="brand">
        <h1>OPEN<span>SKY</span></h1>
    </div>
    <h2>Airline Manager</h2>
    <div class="social-icon">
        <div class="social-item">
            <a href="https://www.facebook.com/Opensky.to" target="_blank"><img src="/img/facebook48.png" alt="facebook" /></a>
        </div>
        <div class="social-item">
            <a href="#" target="_blank"><img src="/img/instagram48.png" alt="instagram" /></a>
        </div>
        <div class="social-item">
            <a href="https://discord.com/invite/eR3yePrj79" target="_blank"><img src="/img/discord48.png" alt="discord" /></a>
        </div>
    </div>
    <p>
        <a href="https://tools.keycdn.com/geo" target="_blank">[IP Location Finder by KeyCDN]</a>
        <a href="https://www.vecteezy.com/" target="_blank">[Vector graphics by Vecteezy]</a>
    </p>
</div>
