@page "/about"

<!-- About Section -->
  <section id="About">
    <div class="About container">
      <div class="About-top">
        <h1 class="section-title">About<span>Us</span></h1>
        <p>OpenSky is an Open source airline management application currently in development.

          We are actively seeking aviation enthusiast whom would love to be part of this upcoming project and shape it with us!
          If you have any sort of Programming,coding,web,design knowledge and feel like you could be an asset to the project,please do not hesitate to jump in and say hello!
          
          We would love to hear your ideas and opinion should you have any!</p>
      </div>
      <div class="About-bottom">
        <div class="About-item">
          <div class="icon"><img src="/img/boardingpass.svg" alt="passport" /></div>
          <h2>Manage your own airline!</h2>
          <p>Create your own virtual airline,hire pilots,pick the jobs tailored to your style and jump in the cockpit! The sky is the limit...literally</p>
        </div>
        <div class="About-item">
          <div class="icon"><img src="/img/planetrack.svg" alt="plane track" /></div>
          <h2>Track and follow your flight!</h2>
          <p>Follow your flight in real time,you can quit and resume another time or pick up where you left if your simulator crashes!</p>
        </div>
        <div class="About-item">
          <div class="icon"><img src="/img/compete.svg" alt="compete" /></div>
          <h2>Compete with others!</h2>
          <p>All operations are happening in one single world where all pilots and companies can compete with each other should they choose to do so!</p>
        </div>
        <div class="About-item">
          <div class="icon"><img src="/img/cloudcomp.svg" alt="cloud computing"/></div>
          <h2>Online persistent world!</h2>
          <p>You can follow your flight,employees,track your jobs and finances! You can keep an eye on your operations at any given time!</p>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->