@page "/about"

<section id="about">
    <div class="about container">
        <div class="about-top">
            <h1 class="section-title">ABOUT<span>US</span></h1>
            <p>
                OpenSky is an open-source airline management simulation currently in development.
                We are actively seeking aviation enthusiast whom would love to be part of this upcoming project and shape it with us!
                If you have experience in coding, graphical  or game design and feel like you could be an asset to the project, please head over to the <NavLink href="contribute">contribute page</NavLink>
                and do not hesitate to jump into our <a href="https://discord.com/invite/eR3yePrj79" target="_blank">Discord</a> and say hello to our still small but growing enthusiastic community!
                We would love to hear your ideas and feedback that we are actively collecting and discussing!
            </p>
            <p>
                If you want the best and easiest start as a new pilot on OpenSky head over to our community driven <a href="https://opensky.gitbook.io/" target="_blank">Wiki</a> that
                is written by our pilots, not the devs. Sharing the best tips and tricks, as well as answering the most common questions in the FAQ.
            </p>
        </div>
        <div class="about-bottom">
            <div class="about-item">
                <div class="icon"><img src="/img/boardingpass.png" alt="passport" /></div>
                <h2>Manage your own airline!</h2>
                <p>Create your own virtual airline, hire pilots, pick the jobs tailored to your style and jump in the cockpit! The sky is the limit...literally!</p>
            </div>
            <div class="about-item">
                <div class="icon"><img src="/img/planetrack.png" alt="plane track" /></div>
                <h2>Track and monitor your flight!</h2>
                <p>Follow your simulator flights in real time. Save and resume another time. Or pick up where you left if your simulator crashes!</p>
            </div>
            <div class="about-item">
                <div class="icon"><img src="/img/compete.png" alt="compete" /></div>
                <h2>Compete with others!</h2>
                <p>All operations are happening in one single world, where all pilots and companies can compete with each other - should they choose to do so!</p>
            </div>
            <div class="about-item">
                <div class="icon"><img src="/img/cloudcomp.png" alt="cloud computing" /></div>
                <h2>Online persistent world!</h2>
                <p>You can follow your flights, employees, and keep an eye on your jobs and finances! Stay on top of your operations at any given time!</p>
            </div>
        </div>
    </div>
</section>

<PageFooter />
