@page "/contribute"

    <section id="contribute">
        <div class="contribute container">
            <div class="contribute-top">
                <h1 class="section-title"><span>CONTRIBUTE</span></h1>
                <p>
                    When choosing a name for this project we wanted the open-source nature of it's development to be immediately obvious - so we made it the first word you read.
                    We believe that through involvement of the aviation simulation community we will end up with a better player experience.
                    All code and documentation (except for maybe some future cheat detection) will be made public on Github, including the central backend API and all its functions.
                </p>
                <p>
                    The current server codebase is written in C# using the .net-core 5.0 framework and targeted to run on Linux. The main game client and agent for
                    Microsoft Flight Simulator 2020 are developed on .net 4.8 and currently Windows only. We have started development on an Electron with Angular based agent for XPlane11.
                    We will be looking to expand this to other operating systems and simulators in the future.
                </p>
                <img src="/img/contributediagram.svg" alt="opensky diagram" style="width: 100%; height: auto;" />
            </div>
        </div>
    </section>

    <PageFooter />