@page "/contribute"

    <section id="contribute">
        <div class="contribute container">
            <div class="contribute-top">
                <h1 class="section-title"><span>CONTRIBUTE</span></h1>
                <p>
                    When choosing a name for this project we wanted the open-source nature of it's development to be immediately obvious - so we made it the first word you read.
                    We believe that through involvement of the aviation simulation community we will end up with a better player experience.
                    All code and documentation (except for maybe some future cheat detection) will be made public on Github, including the central backend API and all its functions.
                </p>
                <p>
                    The current codebase is written in C# using the .net-core 5.0 framework and targeted to run on all major operating systems. The one current exception is the .net 4.8 agent for
                    Microsoft Flight Simulator 2020 being Windows only. But we are investigating if this can be moved to .net-core as well.
                </p>
                <p>
                    <span>Disclaimer:</span> The repos on Github are currently not set to public yet, while we are building the foundations of those projects, to ensure an organized start. 
                    If you want to get involved, head over to our <a href="https://discord.com/invite/eR3yePrj79" target="_blank">Discord</a>
                    and we will have a chat and get you set up to access them.
                    Once we reach our first public Beta test we will set everything to public.
                </p>
                <img src="/img/contributediagram.svg" alt="opensky diagram" />
            </div>
        </div>
    </section>

    <PageFooter />