@page "/credits"

<section id="credits">
    <div class="credits container">
        <div class="credits-top">
            <h1 class="section-title">VOICE<span>TALENTS</span></h1>
            <p>
                In the early stages of development we had the unique idea of using real voice over the generic AI ones. As a result we have reached out to Ash and Kelli whom both proved to be extraordinary talents in their field. Following our initial exchanges it was clear they are both passionate and professional individuals and that we were in good hands!
            </p>
            <p>
                As a result of our collaboration OpenSky can now deliver a truly immersive experience we can all be proud of!
            </p>
        </div>
        <div class="credits-bottom">
            <div class="credits-item">
                <div class="icon"><img src="/img/credits/ash-steel.webp" alt="ashsteele" /></div>
                <h2>Ash Steel</h2>
                <p>
                    Ash Steel is a pro voiceover that commands attention.
                </p>
                <p>
                    He is hired for his emotive and engaging performance abilities, as well as his technical expertise, dedicated work ethic, and creativity.
                </p>
                <p>
                    With a degree in performing arts and a lifelong passion for acting and recording, Ash has impressed big-name clients from Amazon to Tik Tok. He has narrated documentaries including for the WWF, brought characters to life in audiobooks and PC games and completed more than 3,000 voice over projects in the last 3 years.
                </p>
                <p>
                    If you want to harness the power of speech for your project then talk to Ash Steel.
                </p>
                <table style="margin-left: -5px;">
                    <tr>
                        <td>Website:</td>
                        <td style="padding-left: 5px;"><a href="https://ashsteelvoiceover.co.uk/" target="_blank">ashsteelvoiceover.co.uk</a></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td style="padding-left: 5px;"><a href="mailto:info@ashsteel.com">info@ashsteel.com</a></td>
                    </tr>
                </table>
            </div>
            <div class="credits-item">
                <div class="icon"><img src="/img/credits/kelly-winkler.png" alt="kelliwinkler" /></div>
                <h2>Kelli Winkler</h2>
                <p>
                    I'm a professional female voiceover talent with 5+ years experience in the industry.  My main objective is to offer you excellent customer service and provide you with a quality voiceover product that you can be proud of having associated with your business!   I've been told by my clients that I'm very responsive and have great follow through.
                </p>
                <p>
                    With professional equipment and an in-home studio, I've been able to provide quick voice deliveries to my clients in a crunch as well as provide that voiceover that welcomes customers to your company with a warm smile.
                </p>
                <div style="height: 100%">&nbsp;</div>
                <table style="margin-left: -5px;">
                    <tr>
                        <td>Website:</td>
                        <td style="padding-left: 5px;"><a href="https://www.kelliwinklervoice.com/" target="_blank">kelliwinklervoice.com</a></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td style="padding-left: 5px;"><a href="mailto:kelli@kelliwinklervoice.com">kelli@kelliwinklervoice.com</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="credits-top" style="margin-top: 30px;">
            <h1 class="section-title">TECH<span>NOLOGY</span></h1>
            <p>
                We are a small team and rely on technology and creative partners for our work to ensure we can bring our pilots the best possible experience.
                If you are developing your own open-source project be sure to keep them in mind and from all of us a big thank you for supporting the open-source community!
            </p>
        </div>
        <div class="credits-bottom">
            <div class="credits-item">
                <div class="icon"><img src="/img/credits/syncfusion.webp" alt="syncfusion" /></div>
                <h2>syncfusion</h2>
                <p>
                    Syncfusion provides an ecosystem of compatible developer control suites, embeddable BI platforms, and business software. Our 1,800+ components and frameworks for mobile, web, and desktop development get your products to market faster, and our Bold line delivers a diverse set of enterprise solutions, ranging from data analysis and visualization, to help desk software, to an electronic signature platform.
                </p>
                <p>
                    This project uses several controls from Syncfusion's WPF libraries, especially their excellent Docking manager. Syncfusion was kind enough to support our open-source project with a special community license. You can check out their <a href="https://github.com/syncfusion/wpf-demos" target="_blank">WPF demos</a> over on Github.
                </p>
                
                <table style="margin-left: -5px;">
                    <tr>
                        <td>Website:</td>
                        <td style="padding-left: 5px;"><a href="https://www.syncfusion.com/" target="_blank">syncfusion.com</a></td>
                    </tr>
                </table>
            </div>
            <div class="credits-item">
                <div class="icon"><img src="/img/credits/vecteezy.png" alt="vecteezy" /></div>
                <h2>vecteezy</h2>
                <p>
                    Vecteezy is an online marketplace where users can license stock photos, vector graphics, and stock footage from artists.
                </p>
                <p>
                    At Vecteezy we understand that the creative path is never straight. We aim to provide designers with the resources they need to do their best work, wherever they are in the creative process. With fresh photography and vector illustrations by our fantastic creative community and worry-free licensing, we want to help you create with confidence.
                </p>
                <div style="height: 100%">&nbsp;</div>
                <table style="margin-left: -5px;">
                    <tr>
                        <td>Website:</td>
                        <td style="padding-left: 5px;"><a href="https://www.vecteezy.com/" target="_blank">vecteezy.com</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<PageFooter />