@page "/"

<section id="home">
    <div class="home container">
        <div style="flex-direction: column">
            <Alert />

            <div>
                <h1>OpenSKY, <span></span></h1>
                <h1>A brand new airline manager experience!<span></span></h1>
                <h1>Coming Soon!<span></span></h1>
                <NavLink class="btn btn-primary" href="about">Read more</NavLink>
            </div>
        </div>
    </div>
</section>

<PageFooter />