@page "/"
@inject UserSessionService userSession

<h1>OpenSky</h1>
<p>A brand new airline manager experience!</p>
<p>Coming Soon!</p>

@if (userSession.IsUserLoggedIn)
{
    <p>Hi, @userSession.Username</p>
}
