@page "/login"
@using Newtonsoft.Json
@using OpenSky.Website.OpenAPIs
@using Microsoft.AspNetCore.WebUtilities
@inject OpenSkyService OpenSky
@inject NavigationManager NavigationManager
@inject AlertService AlertService
@inject UserSessionService UserSession
@inject IJSRuntime JsRuntime

<section id="login">
    <div class="container">
        <div class="card">
            <img src="img/idcard.png" alt="id card login" style="width: 50%;" />
            <h4 class="card-header">
                Login to OPEN<span style="color: #08c6a4;">SKY</span>
            </h4>
            <div class="card-body">
                <EditForm Model="@model" OnValidSubmit="OnValidSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <InputText @bind-Value="model.Username" class="form-control" placeHolder="Username" />
                        <ValidationMessage For="@(() => model.Username)" />
                    </div>
                    <div class="form-group">
                        <InputText @bind-Value="model.Password" type="password" class="form-control" placeHolder="Password" />
                        <ValidationMessage For="@(() => model.Password)" />
                    </div>
                    <div class="form-group" style="padding-bottom: 30px;">
                        <div class="custom-checkbox">
                            <InputCheckbox @bind-Value="model.RememberMe" id="rememberMeCheck"></InputCheckbox>
                            <label class="remember-me" for="rememberMeCheck" style="float: left;">Remember me</label>
                        </div>

                        <NavLink href="forgotpassword" class="forgotPassword">Forgot your password?</NavLink>
                    </div>
                    <button disabled="@loading" class="btn btn-primary" style="width: 100%">
                        @if (loading)
                        {
                            <span class="spinner-border spinner-border-sm"></span>
                        }
                        Login
                    </button>
                    <div class="bottomLinks">
                        Not registered? <NavLink href="register">Create an Account</NavLink>
                        <br />
                        Validation email didn't arrive? <NavLink href="resendvalidationemail">Send it again</NavLink>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
</section>

<PageFooter />

@code {
    private readonly OpenSkyApi.Login model = new();
    private string returnUrl;
    private bool loading;

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("returnUrl", out var returnUrlParameter))
        {
            returnUrl = returnUrlParameter.ToString();
            StateHasChanged();
        }

        if (UserSession.IsUserLoggedIn)
        {
            NavigationManager.NavigateTo(this.returnUrl ?? "account");
        }
    }

    private async void OnValidSubmit()
    {
        AlertService.Clear();
        loading = true;
        try
        {
            // Before we post the model to the API add the reCAPTCHA token
            var captchaToken = await JsRuntime.InvokeAsync<string>("runCaptcha", "login");
            model.RecaptchaToken = captchaToken;

            var response = await OpenSky.LoginAsync(model);
            if (response.IsError)
            {
                AlertService.Error(response.Message);
                model.Password = string.Empty;
                loading = false;
                StateHasChanged();
            }
            else
            {
                await UserSession.LoggedIn(response.Data);
                AlertService.Success(response.Message, true);
                NavigationManager.NavigateTo(this.returnUrl ?? "account", true);
            }
        }
        catch (ApiException ex)
        {
            if (!string.IsNullOrEmpty(ex.Response))
            {
                var problemDetails = JsonConvert.DeserializeObject<ValidationProblemDetails>(ex.Response);
                if (problemDetails != null)
                {
                    foreach (var problemDetailsError in problemDetails.Errors)
                    {
                        foreach (var errorMessage in problemDetailsError.Value)
                        {
                            AlertService.Error(errorMessage);
                        }
                    }

                    model.Password = string.Empty;
                    loading = false;
                    StateHasChanged();
                }
                else
                {
                    AlertService.Error(ex.Message, false, false);
                    model.Password = string.Empty;
                    loading = false;
                    StateHasChanged();
                }
            }
            else
            {
                AlertService.Error(ex.Message, false, false);
                model.Password = string.Empty;
                loading = false;
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message, false, false);
            model.Password = string.Empty;
            loading = false;
            StateHasChanged();
        }
    }
}
