@page "/validateemail"
@using Microsoft.AspNetCore.WebUtilities
@inject OpenSkyService openSky
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<section id="validateemail">
    <div class="container">
        <div style="flex-direction: column">
            <Alert />

            @if (showInfo)
            {
                <div class="card" style="width: 450px; align-items: center;">
                    <img src="img/processing.svg" alt="id card login" style="width: 50%;" />
                    <h4 class="card-header">Validating email address</h4>
                    <div class="card-body" style="width: 100%">
                        <p>
                            <span class="spinner-border spinner-border-sm"></span>
                            Please wait while we verify your email address against your account record...
                        </p>
                    </div>
                </div>
            }

            @if (success)
            {
                <div class="card" style="width: 450px; align-items: center;">
                    <img src="img/welcomehooray.svg" alt="id card login" style="width: 50%;" />
                    <h4 class="card-header">Welcome to OPEN<span style="color: #08c6a4;">SKY</span></h4>
                    <div class="card-body" style="width: 100%">
                        <p>@replyMessage</p>
                    </div>
                </div>
            }

            @if (error)
            {
                <div class="card" style="width: 450px; align-items: center;">
                    <img src="img/slipbanana.svg" alt="id card login" style="width: 50%;" />
                    <h4 class="card-header">Oh oh, that didn't work!</h4>
                    <div class="card-body" style="width: 100%">
                        <p>@replyMessage</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@code
{
    private readonly OpenSkyApi.ValidateEmail model = new();
    private bool showInfo = true;
    private bool success;
    private bool error;
    private string replyMessage;

    protected override async Task OnInitializedAsync()
    {
        var uri = navigationManager.ToAbsoluteUri(navigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("email", out var email))
        {
            model.Email = email.ToString();
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("token", out var token))
        {
            model.Token = token.ToString();
        }

        await ValidateEmailAddress();
    }

    private async Task ValidateEmailAddress()
    {
        try
        {
            await Task.Delay(1000);

            // Before we post the model to the API add the reCAPTCHA token
            var captchaToken = await jsRuntime.InvokeAsync<string>("runCaptcha", "validateEmail");
            model.RecaptchaToken = captchaToken;

            var response = await openSky.ValidateEmailAsync(model);
            if (response.IsError)
            {
                showInfo = true;
                error = true;
                replyMessage = response.Message;
                StateHasChanged();
            }
            else
            {
                replyMessage = response.Message;
                showInfo = false;
                success = true;
                StateHasChanged();

                await Task.Delay(10 * 1000);
                navigationManager.NavigateTo("/login");
            }
        }
        catch (Exception ex)
        {
            replyMessage = ex.Message;
            showInfo = false;
            error = true;
            StateHasChanged();
        }
    }
}
